{% extends 'base.html' %}
{% block title %} Member Page {% endblock %}
{% block content %}
<h3> {{ chatroom.name_of_chatroom }} </h3>

	<div class="container">


	    {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
            <li> 
                <div class="alert alert-success" role="alert">
                    {{msg.message}}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <nav class="navbar bg-primary">
		  <h4 class="mr-5" style="color:white"> {{ chatroom.created_by }}</h4> 
          <a href="{% url 'talkbot:delete_message' chatroom_id=chatroom.id %}" class="btn btn-danger"> Delete all your messages in the group </a>
        </nav>

        <div class="messagebox overflow-auto mt-1">
            <ul class="list-group">
                {% for text in texts %}
    	        <li class="list-group-item list-group-item-secondary">{{text.user}}: {{text.text}} </li>
                {% endfor %}
            </ul>
        </div>
    	<!-- write message -->
        <div class="">
    		<form class="message-text-input" method="post" action="{% url 'talkbot:create' chatroom_id=chatroom.id %}">
    			{% csrf_token %}

    			{{form}}
    			<input type='submit' value="create">
    		</form>
    	</div>

    </div>
{% endblock %} 
