{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="stylish.css">
	<div class="row">
		<div id="left_row" class="col-md-2">

			<ul>
				<h5>Contact Us!</h5>
				<li class="list-group-item list-group-item-success">Phone: 058 739 5345</li>
				<li class="list-group-item list-group-item-success">Address: 35 Ahad Ha'am, Tel Aviv, Israel</li>
				<li class="list-group-item list-group-item-success">Email: alyosav@aya.com</li>
				<li class="list-group-item list-group-item-success">Phone: 058 739 5345</li>
				<li class="list-group-item list-group-item-success">Fax: 058 739 5345</li>
			</ul>
		</div>
		<div class="col-md-3 mr-5">
			<div class="contact_box">
				<h1>Yossi Kahyko</h1>
				<img src="https://vignette.wikia.nocookie.net/hanna-barbera/images/2/24/Johnny_Bravo.jpg/revision/latest?cb=20120423033926" alt="Trulli" width="150">
				<h6 class="mt-5">Born in Stockholm, Sweden, Yossi is a world class leading web developer. He has three olympic gold medals. One in snowboarding, one is figure skating, and another in swimming. At the age of 27 he began Developers Institute Bootcamp in Tel Aviv, Israel where he now resides.  Along with his exceptional athetic ability, he also enjoys painting still lifes, improving his chess skills, and is currently writing a book titled "Don't Hate me because I am handsome. Hate me because I am better than you".</h6>
			</div>
		</div>
</body>
</html>
{% endblock %}
