{% extends 'base.html' %}
{% block title %} Conctact page {% endblock %}
{% block extra_head %}
{% load static %}
<meta name="description" content="Contact me" >
<link rel="stylesheet" href="{% static 'stylefolder/contact_page.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper">
	<div class="container">
		<h1> Yossi Kayhko </h1>
		<img src="https://vignette.wikia.nocookie.net/hanna-barbera/images/2/24/Johnny_Bravo.jpg/revision/latest?cb=20120423033926" alt="Johnny_Bravo" width="150" class="image_bravo">
		<hr>
		<p>
			I'm passionate about technologies and programming. 🚀
			I'm a hard worker and I have a strong resilience at work.
			<br>
			<b>Programing Languages:</b>
			<br>
			-Javascript
			- React
			- DOM
			- Python
			- Web (Front & Back)
			- JSON / Database / SQL
			- Django/Flask
			- Git
			<br>
			<b>Marketing skills:</b>
			<br>
			- Google Search Console
			- Google Analytics 
			- SEO
			- PPC
			<br>
			<b>Languages</b>
			🇸🇪 - Swedish (native)
			🇬🇧 - English (fluent)
			🇮🇱 - Hebrew (very good level)
		</p>
		<div class="label_container_bottom">
			<p> Phone: 050-2100719 </p>
			<p> Email: yossi.kayhko@gmail.com</p>
			<p> Facebook: Yossi Käyhkö </p>
		</div>
	</div>

	<div class="start_spinner_button">
		Click here!
	</div>
</div>
<script>
	let image = document.querySelector('.image_bravo');
	setInterval(function(){ image.style.transform = 'scale(1.10)'; }, 600);
	setInterval(function(){ image.style.transform = 'scale(1.00)'; }, 800);
	let button = document.querySelector('.start_spinner_button').addEventListener('click',  spin );
	function spin(){
		let x = 5;
		let container = document.querySelector('.container');
		let button = document.querySelector('.start_spinner_button');
		console.log(button)
		button.style.display = 'none';
		container.style.transform = "rotate("+x+"deg)";
		let timer = setInterval( () =>{
			if(x !== 360){
				x++;
				container.style.transform = "rotate("+x+"deg)";
			} else if (x === 360){
				clearInterval(timer);
				button.style.display = 'block';
			}
		},5);
	}
</script>
{% endblock %}
