{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="stylish.css">
	<div class ="row">
		<div class="col-md">ChatsApp</div>
		<div class="col-md">Home</div>
		<div class="col-md">Log Out</div>
	</div>
	<div class="row row_b">
		<div class="col-md-2">
			<h6>What's happening?</h6>
			<ul>
				<li>Friends</li>
				<li>Messages</li>
				<li>Groups</li>
				<li>Chatbot</li>
			</ul>
			<br>
			<h5>Contact Us!</h5>
			<br>
			<ul>
				<li>Phone: 058 739 5345</li>
				<li>Address: 35 Ahad Ha'am, Tel Aviv, Israel</li>
				<li>Email: alyosav@aya.com</li>
				<li>Phone: 058 739 5345</li>
				<li>Fax: 058 739 5345</li>
			</ul>
		</div>
		<div class="col-md">
			<h1>Yossi Kahyko</h1>
			<img src="https://scontent.ftlv1-2.fna.fbcdn.net/v/t1.0-9/221791_10150271690372564_1235434_n.jpg?_nc_cat=104&_nc_ht=scontent.ftlv1-2.fna&oh=241031631e5bc841356ab40a6e65d59e&oe=5D393466" alt="Trulli" width="250" height="333">
			<h6>Born in Stockholm, Sweden, Yossi is a world class leading web developer. He has three olympic gold medals. One in snowboarding, one is figure skating, and another in swimming. At the age of 27 he began Developers Institute Bootcamp in Tel Aviv, Israel where he now resides.  Along with his exceptional athetic ability, he also enjoys painting still lifes, improving his chess skills, and is currently writing a book titled "Don't Hate me because I am handsome. Hate me because I am better than you".</h6>
		</div> 
		<div class="col-md">
			<h1>Alan Tanz</h1>
			<img src="https://scontent.ftlv1-2.fna.fbcdn.net/v/t1.0-9/51086978_10108210090424872_9015544436326662144_o.jpg?_nc_cat=110&_nc_ht=scontent.ftlv1-2.fna&oh=9aa83aeb3e4c818ba4a8ce2411101509&oe=5D3768E9" alt="Trulli" width="250" height="333">
			<h6>Born in New York City, Alan is a world class leading web developer. He has won the Eurovision Song contest twice for Israel (1998, 2018). At the age of 31 he began Developers Institute Bootcamp in Tel Aviv, Israel.  Along with his making music, he is also a licensed paramedic and speaks English, French, German, Spanish, Hebrew, Turkish, and Korean.</h6>
		</div> 
		<div class="col-md">
			<h1>Avi Guner</h1>
			<img src="https://i.ytimg.com/vi/ofSydaFRDAo/hqdefault.jpg" alt="Trulli" width="250" height="333">
			<h6>Born in Istanbul, Turkey, Avi is a world class leading web developer. At the age of 21 he finished studies at Yeshiva and became the chief rabbi of Ra'anana, Isreal. At the age of 25 he began Developers Institute Bootcamp in Tel Aviv, Israel.  Along with his teaching young Jewish men about Tanach, Talmud, and Kaballah his rabbinic commentary on The Shulchan Aruch has been included in countless anthologies.</h6>
		</div> 

</body>
</html>
{% endblock %}
