<!--



<footer class="footer">
    <div class="row" id="borders">

        <div class="col-md-4">
             <h5><b>CHAT</b></h5>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            </p>
        </div>

        <div class="col-md-4">
            <h5><b> Who We Are </b></h5>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </p>
        </div>

        <div class="col-md-4">
            <h5><b> Chat@chat.com </b></h5>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </p>
        </div>
        
    </div>







</footer>

-->