<nav class="navbar navbar-dark  navbar-expand-lg" id="navbar_container">
  <a class="navbar-brand mr-5"  href="{% url 'talkbot:profile' %}">Django Chat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
       <a href="{% url 'talkbot:chatroom' chatroom_id=8%}">Public Chatroom</a>
       <a href="{% url 'talkbot:allpostroom' %}"> All Post Room </a>
       <a href="{% url 'bot:help_bot' %}">HelpCenter </a>
       <a href="/contact_us/" >ContactUs </a>
       <a href="#" class="ml-2" style="color:green"> {{user.username}} is Online</a>
       {% if user.is_authenticated %}
        <a href="{% url 'talkbot:logout' %}">Logout </a>
      {% else %}
        <a href="{% url 'talkbot:login' %}">Login</a>
      {% endif %}
    </div>
  </div>  
</nav>



