{% extends 'base.html' %}
{% block title %} Profile Page {% endblock %}
{% block extra_head %}
{% load static %}
<meta name="description" content="See your own profile easly at django chat" >
<link rel="stylesheet" href="{% static 'stylefolder/user_profile.css' %}">
{% endblock %}
{% block content %}
{% if messages %}
    <div class="messages">
        {% for msg in messages %}
            <div class="alert alert-success" role="alert">
                {{msg.message}}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="body_container_flex">
	<div class="block_push">
	</div>
	{% for person in profile %}
		<div class="main_content_container">
			<div class="profile_container">
				<div class="user_profile_head_banner">
					<div class="user_image_container">
						<img class="profile_img" src="{{ person.profile_image.url }}">
					</div>
					<div class="user_content_profile_container">
						<ul>
							<li>Name:{{person.name}} {{person.lastname}} </li>
							<li> Age: {{person.age}}</li>
							<li>City: {{person.city}}</li>
						</ul>
						<div class="user_description_container">
							{{person.description}}
						</div>
						<label style="color:red" class="mt-2"> Last Login: {{user.last_login}} </label>
					</div>
					<h5> Create a Post </h5>
				</div>
				<br>
				<form class="createpost_form" method="post" enctype="multipart/form-data">
	    			{% csrf_token %}
	    			{{createPost}}
	    			<input type='submit' value="Post" class="post_button">
	    		</form>
	    		<div class="bottom_main_container">
	    			<div class="history_post_container">
	    				{% for post in posts %}
	    				<div class="post_container">
							<div class="left_side">
								<div class="post_image_container">
									<img src="{{ post.image.url }}">
								</div>
							</div>
							<div class="right_side">
								<h4>{{post.title}}</h4>
								<p>{{post.body}}</p>
								<span>Created at: {{ post.date_created }} by {{ post.user.username}}</span>
								<div class="button_container">
									 <p class="totalLikes_container">Total Likes {{ post.like }}</p> 
									 <a href="{% url 'talkbot:create_like' post_id=post.id %}" class="createLike_container">Like </a>
								</div>
							</div>
	    				</div>
	    				<hr>
	    				{%endfor%}
	    			</div>
	    		</div>
			</div>
		</div>
	{% endfor %}
	<div class="sidebar_container">
		<div class="update_container">
			<a href="{% url 'talkbot:update_profile_info' %}"> Update Information</a>
		</div>
		<div class="friend_container">
			<h4> People Around the World</h4>
			<hr>
			{% for friend in friends %}
				<div class="mini_friend_container">
					<div class="friend_image_container">
						<img src="{{friend.profile_image.url}}">
					</div>
					<div class="friend_content_container">
						<ul>
							<p>{{friend.name}}</p>
							<p>{{friend.age}}</p>
							<p>{{friend.city}}</p>
						</ul>
					</div>
					<div class="text_friend_container">
						<a href="{% url 'talkbot:friend_view' friend_id=friend.user.id %}"> 
							<div class="button_to_friend">
								View 
							</div>
						</a>

						<a href="{% url 'talkbot:member' friend_id=friend.user.id %}"> 
							<div class="button_to_friend">
								Chat
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %} 
